
# File di progetto/workpackage
*.txt

# Dati sensibili e generati
data/keys/*.pem
data/receipts/*.json
data/voters.json
data/bulletin_board.json
data/ae_state.json
data/pins.json

# Python
__pycache__/
*.pyc
*.pyo

# Ambiente virtuale
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# Altro
.env
*.db
.vscode/
